.wrapper {
  display: flex;
}

.sideNav {
  width: 20%;
  border-right: 5px solid var(--blue);
  padding: 20px 35px;
}

.mainarea {
  width: 80%;
  margin: 20px 50px;
}

.footerC {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.d_flex {
  display: flex;
  justify-content: space-evenly;
}
